* {
    font-family: arial;
    margin: 0px;
}


/*cabeçalho: */
img{
    width: 40%;
    position: relative;
    left: 30%;
    top: 50%;
}
nav{
    position: absolute;
    top: 0;
    height: 100px;
    width: 101.6vw;
    z-index: 500;
    margin-left: -20px;
    background-color: rgb(54, 54, 54);
}

.nav-container{
    max-width: 1200px;
    margin: 0;
    position: relative;
    margin-top: 15px;
    text-align: center;
}

.nav-container input{
    background-color: white;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    margin: 15px;
    border-color: transparent;
}

.nav-container input[type=button]:hover{
    background: rgb(20, 20, 19);
    color: white;
    transition: 1s;
    top: 20px;
}
.dark-mode {
    background-color: black;
    color: white;}
    .white-mode{
        background-color: white;
        color: black;
    }
/* fim do cabeçalho */

/* botões de navegação */
 
.botao1 {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    margin: 15px;
    border-color: transparent;
}

.botao1 {
    background: rgb(20, 20, 19);
    color: white;
    transition: 0.7s;
    position: relative;
    left: 38%;
    top: 50%;
}
.botao2 {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    margin: 15px;
    border-color: transparent;
}

.botao2 {
    background: rgb(20, 20, 19);
    color: white;
    transition: 0.7s;
    position: relative;
    left: 38%;
    top: 50%;
}

/* texto */

p, h2 {
    text-align: center;
}

h2 {
    margin-top: 10px;
}

/* texto */
