* {
    font-family: arial;
    margin: 0px;
}


/*cabeçalho: */
nav{
    position: absolute;
    top: 0;
    height: 100px;
    width: 102vw;
    z-index: 500;
    margin-left: -20px;
    background-color: rgb(54, 54, 54);
}

.nav-container{
    max-width: 1200px;
    margin: 0;
    position: relative;
    margin-top: 15px;
    text-align: center;
}

.nav-container input{
    background-color: white;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    margin: 15px;
    border-color: transparent;
}

.nav-container input[type=button]:hover{
    background: rgb(20, 20, 19);
    color: white;
    transition: 1s;
    top: 20px;
}
.dark-mode {
    background-color: black;
    color: white;}
    .white-mode{
        background-color: white;
        color: black;
    }
/* fim do cabeçalho */

/* botões de navegação */
 
.botao1 [type=button]{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    margin: 15px;
    border-color: transparent;
}

.botao1 [type=button]:hover {
    background: rgb(20, 20, 19);
    color: white;
    transition: 0.7s;
    top: 20px;
}

